---
import { Sketch } from '@/components/sketch'
import { dictionary } from '@/i18n/dictionary'
import type { Language } from '@/i18n/i18n'
import MainLayout from '@/layouts/main.astro'
import type { APIResponsePaginated, Sketch as SketchType } from '@/lib/types'

export interface Props {
	lang: Language
}

const lang = Astro.props.lang
const t = dictionary[lang]

const res = await fetch(`${Astro.site?.origin}/api/sketches?page=0&pageSize=9`)
const sketches = (await res.json()) as APIResponsePaginated<SketchType>
---

<MainLayout
	lang={lang}
	seo={{
		title: t['Visitors Wall'],
		description:
			t[
				'Browse visitor doodles and leave your own mark on this interactive portfolio wall.'
			],
	}}
>
	<article class='mt-8 flex flex-col gap-8 pb-16'>
		<h1
			class='font-serif text-5xl tracking-wide decoration-border/75 decoration-2'
		>
			{t['visitors marks']}
		</h1>
		<Sketch
			client:idle
			t={t}
			initialData={{ pages: [sketches], pageParams: [0] }}
		/>
	</article>
</MainLayout>
