---
import LinkWithIcon from '@/components/link-with-icon.astro'
import { dictionary } from '@/i18n/dictionary'
import { DEFAULT_LANGUAGE } from '@/i18n/i18n'
import Main from '@/layouts/main.astro'
import { ArrowLeftIcon } from 'lucide-react'

const lang = DEFAULT_LANGUAGE

const t = dictionary[lang]
---

<Main
	lang={lang}
	seo={{
		title: t['404 Not Found'],
		description: t["Oops! The page you're looking for doesn't exist."],
	}}
>
	<article class='mt-8 flex flex-col gap-8 pb-16'>
		<div
			class='min-h-full px-4 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8'
		>
			<div class='mx-auto max-w-max'>
				<section class='sm:flex'>
					<div class='sm:ml-6'>
						<div>
							<h1 class='title sm:text-5xl'>
								{t['cannot find']}
								<i>
									{t['eh']}
								</i>...
							</h1>
							<p class='mt-1 text-base text-muted-foreground'>
								{t['Maybe I renamed or deleted the page']}
								<i>{t['eh']}</i>. {t['Try again']}
								<i>{t['lor']}</i>.
							</p>
						</div>
						<div
							class='mt-10 flex space-x-3 sm:border-l sm:border-transparent sm:pl-6'
						>
							<LinkWithIcon href={`/${lang}`} text={t['back to home']} position='left'>
								<ArrowLeftIcon className='size-5' />
							</LinkWithIcon>
						</div>
					</div>
				</section>
			</div>
		</div>
	</article>
</Main>
