---
import ProjectList from '@/components/project-list.astro'
import MainLayout from '../layouts/main.astro'
---

<MainLayout
	seo={{
		title: 'Projects',
		description:
			'Explore my projects, showcasing my skills and creativity in web development.',
	}}
>
	<article class='mt-8 flex flex-col gap-8 pb-16'>
		<h1 class='title'>my projects.</h1>
		<ProjectList />
	</article>
</MainLayout>
