---
export interface Props {
	href: string
	position?: 'left' | 'right'
	text?: string
	class?: string
}

const { href, position = 'left', text, class: className = '' } = Astro.props
---

<a
	href={href}
	class={`motion-link link flex group items-center gap-2 font-light ${className} hover:underline`}
>
	{
		position === 'left' && (
			<span class='motion-link-icon' data-direction='left'>
				<slot />
			</span>
		)
	}
	{text && <span>{text}</span>}
	{
		position === 'right' && (
			<span class='motion-link-icon' data-direction='right'>
				<slot />
			</span>
		)
	}
</a>
