---
import { dictionary } from '@/i18n/dictionary'
import { type Language } from '@/i18n/i18n'
import { FEATURED_POSTS_LIMIT } from '@/lib/constants'
import { getPosts } from '@/posts/posts'
import { PostCard } from './post-card'
import Section from './section.astro'
import { Card } from './ui/card'

export interface Props {
	lang: Language
}

const posts = await getPosts({
	lang: Astro.props.lang,
	limit: FEATURED_POSTS_LIMIT,
})

const t = dictionary[Astro.props.lang]
---

<Section
	id='posts'
	lang={Astro.props.lang}
	title={t['Recent Posts']}
	description={t[
		'Read my latest articles on web development, programming, and technology.'
	]}
	viewMoreHref={`/${Astro.props.lang}/blog`}
>
	<Card>
		<ul class='flex flex-col'>
			{
				posts.map((post, i) => (
					<PostCard post={{ ...post.data, id: post.id }} useSeparator={i !== 0} />
				))
			}
		</ul>
	</Card>
</Section>
