---
import { FEATURED_POSTS_LIMIT } from '@/lib/constants'
import { getCollection } from 'astro:content'
import { ArrowRightIcon } from 'lucide-react'
import LinkWithIcon from './link-with-icon.astro'
import { PostCard } from './post-card'
import { Card } from './ui/card'

const posts = await getCollection('post').then((p) =>
	p.slice(0, FEATURED_POSTS_LIMIT)
)
---

<section class='flex flex-col gap-8'>
	<div class='flex justify-between'>
		<h2 class='title text-3xl'>recent posts</h2>
		<LinkWithIcon href='/blog' position='right' text='view more'>
			<ArrowRightIcon className='size-5' />
		</LinkWithIcon>
	</div>
	<Card>
		<ul class='flex flex-col'>
			{
				posts.map((post, i) => (
					<PostCard post={post} useSeparator={i !== 0 && i !== posts.length - 1} />
				))
			}
		</ul>
	</Card>
</section>
