---
import { FEATURED_POSTS_LIMIT } from '@/lib/constants'
import { getCollection } from 'astro:content'
import { PostCard } from './post-card'
import Section from './section.astro'
import { Card } from './ui/card'

const posts = await getCollection('post').then((p) =>
	p.slice(0, FEATURED_POSTS_LIMIT)
)
---

<Section
	id='posts'
	title='Recent Posts'
	description='Read my latest articles on web development, programming, and technology.'
	viewMoreHref='/blog'
>
	<Card>
		<ul class='flex flex-col'>
			{
				posts.map((post, i) => (
					<PostCard post={post} useSeparator={i !== 0 && i !== posts.length - 1} />
				))
			}
		</ul>
	</Card>
</Section>
