---
import { type Language } from '@/i18n/i18n'
import { FEATURED_POSTS_LIMIT } from '@/lib/constants'
import type { Dictionary } from '@/lib/types'
import { getPosts } from '@/posts/posts'
import { PostCard } from './post-card'
import Section from './section.astro'
import { Card } from './ui/card'

export interface Props {
	lang: Language
	t: Dictionary
}

const posts = await getPosts({
	lang: Astro.props.lang,
	limit: FEATURED_POSTS_LIMIT,
})

const { t, lang }: Props = Astro.props
---

<Section
	id='posts'
	t={t}
	title={t['recent posts']}
	description={t[
		'Read my latest articles on web development, programming, and technology.'
	]}
	viewMoreHref={`/${lang}/blog`}
>
	<Card className='py-4'>
		<ul class='flex flex-col'>
			{
				posts.map((post, i) => (
					<PostCard post={{ ...post.data, id: post.id }} useSeparator={i !== 0} />
				))
			}
		</ul>
	</Card>
</Section>
