---
import { FEATURED_PROJECTS_LIMIT } from '@/lib/constants'
import ProjectList from './project-list.astro'
import Section from './section.astro'
---

<Section
	id='projects'
	title='Featured Projects'
	description='Explore some of my highlighted projects that showcase my skills and creativity in web development.'
	viewMoreHref='/projects'
>
	<ProjectList limit={FEATURED_PROJECTS_LIMIT} isFeatured />
</Section>
