---
import { dictionary } from '@/i18n/dictionary'
import { type Language } from '@/i18n/i18n'
import { ArrowRightIcon } from 'lucide-react'
import LinkWithIcon from './link-with-icon.astro'

export interface Props {
	id: string
	title: string
	description: string
	viewMoreHref?: string
}

const { id, title, description, viewMoreHref } = Astro.props

export interface Props {
	lang: Language
}

const t = dictionary[Astro.props.lang]
---

<section id={id} class='space-y-8'>
	<div class='space-y-4'>
		<div class='flex justify-between w-full'>
			<h1 class='text-2xl md:text-3xl font-extrabold flex-1 max-w-lg'>
				{title}
			</h1>
			{
				viewMoreHref && (
					<LinkWithIcon href={viewMoreHref} position='right' text={t['view more']}>
						<ArrowRightIcon className='size-5' />
					</LinkWithIcon>
				)
			}
		</div>
		<p class='text-sm max-w-lg min-[430px]:text-base text-muted-foreground'>
			{description}
		</p>
	</div>
	<slot />
</section>
