---
import type { Dictionary } from '@/lib/types'
import { ArrowRightIcon } from 'lucide-react'
import LinkWithIcon from './link-with-icon.astro'

export interface Props {
	id: string
	title: string
	description: string
	viewMoreHref?: string
	t: Dictionary
}

const { t, id, title, description, viewMoreHref } = Astro.props
---

<section id={id} class='space-y-8'>
	<div class='space-y-4'>
		<div class='flex justify-between w-full'>
			<h2
				class='font-serif text-4xl tracking-wide decoration-border/75 decoration-2 flex-1 max-w-lg'
			>
				{title}
			</h2>
			{
				viewMoreHref && (
					<LinkWithIcon href={viewMoreHref} position='right' text={t['view more']}>
						<ArrowRightIcon className='size-5' />
					</LinkWithIcon>
				)
			}
		</div>
		<p class='text-sm max-w-lg min-[430px]:text-base text-muted-foreground'>
			{description}
		</p>
	</div>
	<slot />
</section>
