---
import ContactForm from '@/components/contact-form'
import { dictionary } from '@/i18n/dictionary'
import { getLangPaths } from '@/i18n/i18n'
import MainLayout from '@/layouts/main.astro'

export const prerender = true
export const getStaticPaths = getLangPaths

const t = dictionary[Astro.params.lang]
---

<MainLayout
	lang={Astro.params.lang}
	seo={{
		title: t['Contact Me'],
		description:
			t[
				'For inquiries, collaborations, or just to say hello, use the form below to reach out to me directly. I look forward to connecting with you!'
			],
	}}
>
	<article class='mt-8 flex flex-col gap-8 pb-16'>
		<h1 class='title'>{t['contact me']}</h1>

		<ContactForm client:load lang={Astro.params.lang} />
	</article>
</MainLayout>
